# PORT=3000
# API_PREFIX=/api
# NODE_ENV=development
# DB_HOST=
# DB_PORT=
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# JWT_SECRET=
# GOOGLE_CLIENT_ID=
# MP_ACCESS_TOKEN=
# MERCADOPAGO_ACCESS_TOKEN=
# MP_WEBHOOK_URL=
# PAYMENT_HOLDER=RenovaRed
# PAYMENT_ALIAS=renovared.reciclaje
# PAYMENT_CVU=
# PAYMENT_CBU=
# PAYMENT_INTEROPERABLE_QR_IMAGE_URL=
PAYMENT_HOLDER_UALA=fabicgonzalez
PAYMENT_ALIAS_UALA=fabiancgonzalez.uala
PAYMENT_CVU_UALA=
PAYMENT_CBU_UALA=3840200500000045299267
PAYMENT_INTEROPERABLE_QR_IMAGE_URL_UALA=/assets/alaQR.jpg