<div class="home">
    <!--    NAVBAR   -->
        <nav class="navbar">
            <div class="logo">
                <img routerLink="/login" src="logoRenovared.png" alt="RenovaRed">
            </div>

            <div class="nav-links">
                <a routerLink="/login" class="login">Iniciar sesión</a>
                <a routerLink="/register" class="register">Registrarse</a>
            </div>
        </nav>
        <!--    Contenido   -->
            <div class="home-content">
                <h1>Economía Circular Inteligente</h1>
                <p>Conectamos cooperativas, reclicladoras y emprendedores <br>
                    para fortalecer el impacto ambiental local.
                </p>

                <div class="home-buttons">
                    <button routerLink="/login" class="btn-primary">Explorar Materiales</button>
                    <button routerLink="/login" class="btn-secondary">Publicar Recursos</button>
                </div>
            </div>

        <!--    STATS   -->
            <div class="stats">
                <div class="stat">
                    <div class="stat-top">
                        <i class="fa-solid fa-recycle" style="color: rgb(255, 255, 255);"></i>
                        <h2>3.450</h2>
                    </div>
                    <span>Interceptados</span>
                </div>
                
                <div class="stat">
                    <div class="stat-top">
                        <i class="fa-solid fa-box" style="color: rgb(255, 255, 255);"></i>
                        <h2>19.000 kg</h2>
                    </div>
                <span>Reutilizados</span>
                </div>
                <div class="stat">
                    <div class="stat-top">
                        <i class="fa-solid fa-user-group" style="color: rgb(255, 255, 255);"></i>
                        <h2>600</h2>
                    </div>
                  <span>Activos</span>            
                </div>
            </div>
            <!--    CARDS      -->
                <div class="cards">
                    <div class="card">
                        <img src="cooperativa.png" alt="">
                        <div class="overlay">
                        <span>Cooperativas</span>
                        </div>
                    </div>
                    <div class="card">
                        <img src="recicladoras.png" alt="">
                        <div class="overlay">
                        <span>Recicladoras</span>
                        </div>
                    </div>
                    <div class="card">
                        <img src="emprendedores.png" alt="">
                        <div class="overlay">
                        <span>Emprendedores</span>
                        </div>
                    </div>
                </div>
</div>