<div class="login-page">
            <a routerLink="/" class="logo">
                <img src="logoRenovared.png" alt="RenovaRed">
            </a>

            <!--    CARD LOGIN      -->
            <div class="login-card">
                <h1>Inicio Sesión</h1>
                <form>
                    <div class="input-group">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Correo Electrónico">
                    </div>
                    <div class="input-group">
                        <i class="fa-solid fa-lock"></i>
                        <input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña">
                        <i class="fa-solid toggle-password" [class.fa-eye]="!showPassword" 
                        [class.fa-eye-slash]="showPassword" (click)="togglePassword()"></i>
                    </div>
                    <button type="submit" routerLink="/marketplace" >Ingresar</button>
                </form>
            </div>
